@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>ASP .NET Core Web Application running on Ubuntu Server 16.04 LTS.</p>
<p>
    <strong>
        Source Code:
    </strong> 
    <a href="https://github.com/iqans/Test-ASPNET-SiteOnUbuntu">
        Test-ASPNET-SiteOnUbuntu
    </a>
</p>