@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Pune,<br />
    India<br />
    <abbr title="Phone">P:</abbr>
    7878078505
</address>

<address>
    <strong>Admin:</strong> <a href="mailto:iqan.shaikh@gmail.com">iqan.shaikh@gmail.com</a><br />
</address>
